/*font family starts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font family ends*/

/*common css*/
:root{

	--pop: "Poppins", sans-serif;
	--rob: "Roboto", sans-serif;

	--green: #21B573;
	--red: #FD511A;
	--black: #000000;

}

body{
	font-family: var(--pop);
	font-size: 16px;
	font-weight: 400;
	color: var(--black);


}

/*common ends*/
/*header starts*/

header{
	background-color: #F0FFF0;
	padding: 15px 0;
}

.m-nav{}

.logo{}

.menu{}
.menu ul li a{
	padding: 0 15px !important;
	color: var(--black) !important;
}

.menu ul li a:hover{
     color: var(--red) !important;
}

.btn-cm{
     background-color: var(--green);
     font-family: var(--rob);
     color: white;
     line-height: 18.75px;
     border: none;
	border-radius: 33px;
}

.btn-sin{
	margin-left: 10px;
	width: 105px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.btn-cm:hover{
	background-color: var(--red);
	color: white;

}

.btn-cm:active{
	background-color: var(--red) !important;
	color: white !important;
}
/*header ends*/
/*banner starts*/
.banner{
	background-color: #F0FFF0;
	padding-bottom: 65px;
}

.b-text{}

.b_p1{
	color: var(--red); 
}

.b_h1{
	margin: 10px 30px 20px 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 70px;
}

.b_h1 span{
	color: var(--green);
}

.b_p2{
	line-height: 36px;

}

.btn_get{
	margin-top: 15px;
	padding: 12px 36px;
}

.b-img{}

/*banner ends*/

/*feature starts*/

.feature{}
.c-p{
	padding-bottom: 100px;
}

.sf-item{
	margin: 40px 0 0;
	padding: 55px 0 50px;
	background-color: #F0FFF0;
	border-radius: 10px;
	transition: .33s linear;
	
}

.sf-item:hover{
	background-color: white;
	box-shadow: 0 20px 40px 0 #0000001A;
}
.sf-img{}
.sf-h2{
	margin: 22px 0 0;
	font-size: 24px;
	color: var(--black);
	font-weight: 500;
	line-height: 36px;
}

.sf-p{

}

/*    feature ends*/

/*courses starts*/
.course{}
.c-title{}
.c-title h1{
	font-size: 36px;
	font-weight: 700;
	color: var(--black);
	line-height: 54px;
}

.c-item{
	margin: 60px 0 0;
	padding: 24px 20px 30px;
	border-radius: 18px;
	box-shadow: 0 10px 40px 0 #0000001A;
}
.ci-img{}
.ci-img img{
	border-radius: 11px;
}
.ci-h2{
	margin: 19px 0 3px;
	font-size: 24px;
	font-weight: 500;
	color: var(--black);
	line-height: 36px;

}
.ci-p{}
.ci-link{
	margin: 19px 0 34px;
	padding: 8px 28px;
}

.ci-footer{}

.ci-left{}
.ci-right{}
.nli{}

.ci-png{}
.c-span{
	font-weight: 500;
}




/*courses ends*/

/*testimonial starts*/
.t-item{
	margin-top: 60px;
}

.t-img{}
.t-img img{
	width: 100%;
}


.t-text{}
.t-text p{}





/*testimonial ends*/

 /*footer top start*/
 .footer_top{
 	background-color: #282531;
 	padding: 55px 0 55px;
 }
 .ft_detail{
 	padding-right: 120px;
 }
 .ft_detail p{
 	color: white;
 	line-height: 30px;
 }
 .ft_links{}
 .ft_links h2{
 	margin-bottom: 8px;
 	font-size: 18px;
 	font-weight: 700;
 	color: white;
 	line-height: 30px;

 }
 .ft_links ul li a{
 	margin-bottom: 8px;
 	display: block;
 	color:white;
 	text-decoration: none;
 }
 /*footer top end*/
 /*footer start*/
 footer{
 	padding: 20px 0 30px;
 	background-color: #282531;
 }
 footer p{
 	color: white;
 	line-height: 30px;


 }
 footer p a{
 	color: white;
 }
 /*footer end*/